In [27]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, OrdinalEncoder, TargetEncoder
import seaborn as sns

In [8]:
df = pd.DataFrame({
    'Color': ['Red', 'Blue', 'Green', 'Blue', 'Red']
})
encoder = OneHotEncoder()
encoded_features = encoder.fit_transform(df[['Color']]).toarray()


encoded_df = pd.DataFrame(encoded_features, columns=encoder.get_feature_names_out())
print(encoded_df)

   Color_Blue  Color_Green  Color_Red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         1.0          0.0        0.0
4         0.0          0.0        1.0

In [9]:
df = pd.concat([df, encoded_df], axis=1)
df

   Color  Color_Blue  Color_Green  Color_Red
0    Red         0.0          0.0        1.0
1   Blue         1.0          0.0        0.0
2  Green         0.0          1.0        0.0
3   Blue         1.0          0.0        0.0
4    Red         0.0          0.0        1.0

In [13]:
lbl_encoder = LabelEncoder()
lbl_encoder.fit_transform(df[['Color']])

/Users/oloruntobi/Desktop/projects/feature engineering/.venv/lib/python3.13/site-packages/sklearn/preprocessing/_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 1, 0, 2])

In [15]:
lbl_encoder.transform([['Blue']])

/Users/oloruntobi/Desktop/projects/feature engineering/.venv/lib/python3.13/site-packages/sklearn/preprocessing/_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([0])

In [17]:
df = pd.DataFrame({
    'Size': ['S', 'M', 'L', 'M', 'S', 'L', 'S', 'M', 'L', 'S']
})

In [18]:
df

  Size
0    S
1    M
2    L
3    M
4    S
5    L
6    S
7    M
8    L
9    S

In [19]:
encoder = OrdinalEncoder(categories=[['S', 'M', 'L']])
encoded_features = encoder.fit_transform(df[['Size']])
encoded_df = pd.DataFrame(encoded_features, columns=encoder.get_feature_names_out())
print(encoded_df)

   Size
0   0.0
1   1.0
2   2.0
3   1.0
4   0.0
5   2.0
6   0.0
7   1.0
8   2.0
9   0.0

In [20]:
df_sizes = pd.concat([df, encoded_df], axis=1)
df_sizes

   Size  Size
0     S   0.0
1     M   1.0
2     L   2.0
3     M   1.0
4     S   0.0
5     L   2.0
6     S   0.0
7     M   1.0
8     L   2.0
9     S   0.0

In [26]:
df = pd.DataFrame({
    'city': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix', 'Los Angeles'],
    'price': [100, 200, 150, 300, 250, 180]
})
mean_price = df.groupby('city')['price'].mean()
df['city_encoded'] = df['city'].map(mean_price)
df

          city  price  city_encoded
0     New York    100         100.0
1  Los Angeles    200         190.0
2      Chicago    150         150.0
3      Houston    300         300.0
4      Phoenix    250         250.0
5  Los Angeles    180         190.0

In [28]:
df_tips = sns.load_dataset('tips')

In [29]:
df_tips.head(5)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [30]:
mean_price = df_tips.groupby('time')['total_bill'].mean()
mean_price

/var/folders/78/0gmfxlf56ts12_qr2wzpsgvw0000gn/T/ipykernel_12245/2511203668.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  mean_price = df_tips.groupby('time')['total_bill'].mean()

time
Lunch     17.168676
Dinner    20.797159
Name: total_bill, dtype: float64

In [31]:
df_tips['time_encoded'] = df_tips['time'].map(mean_price)
df_tips.head(5)

   total_bill   tip     sex smoker  day    time  size time_encoded
0       16.99  1.01  Female     No  Sun  Dinner     2    20.797159
1       10.34  1.66    Male     No  Sun  Dinner     3    20.797159
2       21.01  3.50    Male     No  Sun  Dinner     3    20.797159
3       23.68  3.31    Male     No  Sun  Dinner     2    20.797159
4       24.59  3.61  Female     No  Sun  Dinner     4    20.797159